* {
  box-sizing: border-box;
}

html, body{
  font-family: Exo,calibri,sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 35px;
}

header, footer {
  clear: left;
  color: #CCC;
}

h1{
  font-size: 1.6em;
}

nav{
  margin: 10px;
  position: absolute;
  width: 200px;
}

article ul, nav ul{
  margin: 0;
  padding: 0;
}

article{
  float: right;
  width: 100%;
}

li{
  list-style: none;
}

.container {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#map {
  height: 80%;
  width: 70%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 500px) {
  nav{
    width: 100%;
    margin-top: 95%;
  }

  #map {
    height: 50%;
    width: 100%;
  }
}

.flickrImg{
  height: 150px;
  width: 200px;
}
